html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    background-color: black;
    color: white;
}

div#bg {
    width: 90%;
    height: 100%;
    max-height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    background-image: url('https://d3p3wfpsct07a1.cloudfront.net/background-fire.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-inverse {
    background-color: black;
}

.headerLine {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
}

a, a:hover, a:visited {
    color: white;
    text-decoration: underline;
}

.panel-heading,
.panel-default > .panel-heading,
.panel-body {
    color: white;
    background-color: #333;
}

.panel-default > .panel-heading {
    border-color: white;
}

.panel-default,
.panel-heading,
.panel-body {
    border-color: #333;
}
